extends layout

block content
    div(class="wrapper")
        h1 #{name}
        div(class="memberList")
            for member in members
                li #{member.firstName} #{member.lastName} #{member.email}
            else
                li There are no members yet!
        
        a(href="/group/#{id}/shuffle") Shuffle!
